            .body {
                background-image: linear-gradient(90deg, #51e0f0,  #FFFFFF);
                color: #000000;
                font-size: 12;
            }

            .navbar {
                list-style: none;
                background-color: #FFFFFF;
                overflow: hidden;
                padding: 0;
            }

            .navbar a, .dropdown div {
                text-decoration: none;
                color: #51e0f0;
                font-size: 24px;
                padding: 16px;
                display: inline-block;
            }

            .navbar li {
                float: right;
            }

            .navbar li:hover {
                background-color: blue;
            }

            .dropdown-content {
                list-style: none;
                padding: 0;
                display: none;
                position: absolute;
                Z-index: 1;
            }
            .dropdown-content li {
                background-color: #FFFFFF;
                float: none;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .active {
                background-color: blue;
            }

            .aboutme-img {
                width: 450px;
                float: left;
                margin: left;
            }

            .aboutme-p {
                padding: 50px;
                float: center;
                margin: center;
                font-size: 24px;
            }

            .image-4-fix {
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotae(90deg);

            }

            .table-index {
                margin-left: auto;
                margin-right: auto;
            }

            .aboutme-table {
                margin-left: auto;
                margin-right: auto;
            }
